	<div class="page-header">
	<div class="ui fluid icon input">
	  <input type="text" placeholder="Search repository..">
	  <i class="search icon"></i>
	</div>
	</div>

	<div class="ui fluid label">
	  Calamum
	  <a class="detail"><i class="star icon"></i> 23 <i class="fork code icon"></i>101</a>
	  <a class=""></a>
	</div>


    <div class="two column stackable ui grid">
      <div class="column">
        <div class="ui segment" style="height:300px;">
            <div class="ui animated selection list">
  <div class="item">
    <img class="ui avatar image" src="https://gravatar.com/avatar/ee843261d4676b3147e5a1840e3b494b?d=https%3A%2F%2Fidenticons.github.com%2Fc0daaed161e0b0bdc769e82d932a337d.png&r=x">
    <div class="content">
      <div class="header">Snickerdoodle</div>
      An excellent companion
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="https://gravatar.com/avatar/d13aac248932b629852082a337d3ca59?d=https%3A%2F%2Fidenticons.github.com%2Fcd7e5511f6f95f69bdcf5a3fb0450297.png&r=x">
    <div class="content">
      <div class="header">Poodle</div>
      A poodle, its pretty basic
    </div>
  </div>
  <div class="item">
    <img class="ui avatar image" src="/images/demo/avatar3.jpg">
    <div class="content">
      <div class="header">Paulo</div>
      He's also a dog
    </div>
  </div>
</div>
        </div>
      </div>

      <div class="column">
        <div class="ui segment" style="height:300px;">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>


	<div class="ui segment"  style="height:300px;">
		<div id="timeline" style="">
            <div class="navigation" style="overflow-y: auto;">
                <div class="timenav" style="left: 25px; ">
                    <div class="content" style="width: 1149.0410958891518px; ">
                        <div class="marker" id="2009,2-0" style="left: 65px;">
                            <div class="flag" style="top: 96px;">
                                <div class="flag-content">
                                    <div class="thumbnail vimeo"></div>
                                        <h3>My first experiment in time-lapse photography</h3>
                                        <h4>February 2009</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                            <div class="marker" id="2009,5-1" style="left: 212px;">
                                <div class="flag" style="top: 1px;">
                                    <div class="flag-content">
                                        <div class="thumbnail">
                                        <img src="./Timeline Portfolio   Tutorialzine Demo_files/sidebar_s3.jpg" width="32px" height="32px"></div>
                                        <h3>Redesign of my portfolio</h3>
                                        <h4>May 2009</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                            <div class="marker" id="2009,7-2" style="left: 312px;">
                                <div class="flag" style="top: 48px;">
                                    <div class="flag-content">
                                        <div class="thumbnail vimeo"></div>
                                        <h3>Another time-lapse experiment</h3>
                                        <h4>July 2009</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                             <div class="marker" id="2009,10-3" style="left: 463px;">
                                <div class="flag" style="top: 96px;">
                                    <div class="flag-content">
                                        <div class="thumbnail">
                                            <img src="https://gravatar.com/avatar/ee843261d4676b3147e5a1840e3b494b?d=https%3A%2F%2Fidenticons.github.com%2Fc0daaed161e0b0bdc769e82d932a337d.png&r=x" width="32px" height="32px">
                                        </div>
                                        <h3>Developed a Gmail Client</h3>
                                        <h4>October 2009</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                            <div class="marker" id="2010,3-4" style="left: 711px;">
                                <div class="flag" style="top: 48px;">
                                    <div class="flag-content">
                                        <div class="thumbnail">
                                            <img src="./Timeline Portfolio   Tutorialzine Demo_files/pet___you.jpg" width="32px" height="32px">
                                        </div>
                                        <h3>Logo Design for a pet shop</h3>
                                        <h4>March 2010</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                            <div class="marker" id="2010,4-5" style="left: 762px;">
                                <div class="flag" style="top: 96px;">
                                    <div class="flag-content">
                                        <div class="thumbnail">
                                            <img src="./Timeline Portfolio   Tutorialzine Demo_files/proto_v4_decoupe_2.jpg" width="32px" height="32px">
                                        </div>
                                        <h3>Developed an iPad newspaper application</h3>
                                        <h4>April 2010</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                            <div class="marker" id="2010,8-6" style="left: 963px;">
                                <div class="flag" style="top: 48px;">
                                    <div class="flag-content">
                                        <div class="thumbnail">
                                            <img src="./Timeline Portfolio   Tutorialzine Demo_files/chameleon.jpg" width="32px" height="32px">
                                        </div>
                                        <h3>Illustration for a big client.</h3>
                                        <h4>August 2010</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                            <div class="marker" id="2010,12-7" style="left: 1163px;">
                                <div class="flag" style="top: 48px;">
                                    <div class="flag-content">
                                        <div class="thumbnail youtube"></div>
                                        <h3>Advert for Volkswagen</h3>
                                        <h4>December 2010</h4>
                                    </div>
                                </div>
                                <div class="dot"></div>
                                <div class="line">
                                    <div class="event-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="time">
                            <div class="time-interval-minor">
                                <div class="minor" style="width: 1499.9999999986867px; left: -33.6301370119628px;"></div>
                            </div>
                            <div class="time-interval-major">
                                <div class="major" style="left: 16.369862988037198px; text-indent: -14px;">2009</div>
                                <div class="major" style="left: 616.3698629873807px; text-indent: -14px;">2010</div>
                                <div class="major" style="left: 1216.369862986724px; text-indent: -14px;">2011</div>
                            </div>
                            <div class="time-interval" style="">
                                <div class="_idd" style="left: 16.369862988037198px; text-indent: -12px;">2009</div>
                                <div class="_idd" style="left: 67.3287670975725px; text-indent: -11px;">Feb.</div>
                                <div class="_idd" style="left: 113.35616435779627px; text-indent: -18px; display: none;">March</div>
                                <div class="_idd" style="left: 164.24657531664195px; text-indent: -14px;">April</div>
                                <div class="_idd" style="left: 213.56164380973723px; text-indent: -10.5px; display: none;">May</div>
                                <div class="_idd" style="left: 264.52054791927253px; text-indent: -12.5px;">June</div>
                                <div class="_idd" style="left: 313.8356164123678px; text-indent: -12px; display: none;">July</div>
                                <div class="_idd" style="left: 364.79452052190027px; text-indent: -12px;">Aug.</div>
                                <div class="_idd" style="left: 415.75342463143556px; text-indent: -13.5px; display: none;">Sept.</div>
                                <div class="_idd" style="left: 465.06849312453085px; text-indent: -12px;">Oct.</div>
                                <div class="_idd" style="left: 516.0958903847501px; text-indent: -12px; display: none;">Nov.</div>
                                <div class="_idd" style="left: 565.4109588778482px; text-indent: -11.5px;">Dec.</div>
                                <div class="_idd" style="left: 616.3698629873807px; text-indent: -12px; display: none;">2010</div>
                                <div class="_idd" style="left: 667.3287670969131px; text-indent: -11px;">Feb.</div>
                                <div class="_idd" style="left: 713.3561643571369px; text-indent: -18px; display: none;">March</div>
                                <div class="_idd" style="left: 764.2465753159826px; text-indent: -14px;">April</div>
                                <div class="_idd" style="left: 813.5616438090807px; text-indent: -10.5px; display: none;">May</div>
                                <div class="_idd" style="left: 864.5205479186131px; text-indent: -12.5px;">June</div>
                                <div class="_idd" style="left: 913.8356164117113px; text-indent: -12px; display: none;">July</div>
                                <div class="_idd" style="left: 964.7945205212437px; text-indent: -12px;">Aug.</div>
                                <div class="_idd" style="left: 1015.7534246307762px; text-indent: -13.5px; display: none;">Sept.</div>
                                <div class="_idd" style="left: 1065.0684931238743px; text-indent: -12px;">Oct.</div>
                                <div class="_idd" style="left: 1116.0958903840935px; text-indent: -12px; display: none;">Nov.</div>
                                <div class="_idd" style="left: 1165.410958877189px; text-indent: -11.5px;">Dec.</div>
                            </div>
                        </div>
                    </div>
                    <div class="timenav-background" style="">
                        <div class="timenav-line" style="left: 642px; "></div>
                        <div class="timenav-interval-background">
                            <div class="top-highlight"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

	


